# Needed until requests-unixsocket supports urllib3 v2
# https://github.com/msabramo/requests-unixsocket/pull/69
# When updating, remove the urllib3 constraint from renovate config.
urllib3==1.26.15
craft-application~=3.2
requests==2.32.2
requests-unixsocket==0.3.0
