.. _ref_sdkcraft_{{ ref }}:


.. meta::
   :description: Reference documentation for the 'sdkcraft {{ command_name }}' command

sdkcraft {{ command_name }}
{{ '-' | repeat(heading_len + 9) }}

.. @artefact sdkcraft {{ command_name }}

{{ short | trim_suffix('.') }}

.. rubric:: Usage

.. code-block:: console

   $ {{ synopsis }}

.. rubric:: Description

{{ long }}
{% if arguments %}

.. rubric:: Arguments

{% for argument in arguments %}
{{ argument.name }}{{ ' (' ~ argument.nargs ~ ')' if argument.nargs else '' }}

   {{ argument.usage | indent(3, first=False) }}
{% if argument.choices %}

   Choices: {% for choice in argument.choices %}:samp:`{{ choice }}`{{ ", " if not loop.last }}{% endfor %}

{% endif %}
{% if argument.default_value %}

   Default: :samp:`{{ argument.default_value }}`
{% endif %}

{% endfor %}
{% endif %}
{% if flags %}

.. rubric:: Flags

{% for flag in flags %}
{{ flag.short ~ ', ' if flag.short else '' }}{{ flag.name }}{{ ' ' ~ flag.metavar if flag.metavar else '' }}

   {{ flag.usage | indent(3, first=False) }}{{ ' (required)' if flag.required else '' }}
{% if flag.choices %}

   Choices: {% for choice in flag.choices %}:samp:`{{ choice }}`{{ ", " if not loop.last }}{% endfor %}

{% endif %}
{% if flag.default_value %}

   Default: :samp:`{{ flag.default_value }}`
{% endif %}

{% endfor %}
{% endif %}
{% if examples %}

.. rubric:: Examples

{% for example in examples %}
{{ example.info }}:

.. code-block:: console

   $ {{ example.usage }}

{% endfor %}
{% endif %}
